/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region GENERAL */
body {
    background: #000000;
}

/* #endregion */

/* #region DEBUG */
.debug * {
    border: 2px dashed lightsteelblue;
}

.debug header {
    background: lightpink;
}

.debug .windows-btn {
    width: 149px;
    height: 26px;
    background: lightyellow;
}

.debug main {
    background: lightblue;
}

.debug main>.container {
    min-height: 100%;
    background-color: lightgreen;
}

.debug main .card-partecipant {
    height: 150px;
    background-color: lightsalmon;
}

.debug footer {
    background: lightcoral;
}

.debug footer .multimedia {
    background: lightskyblue;
}

.debug footer nav {
    background: lightseagreen;
}

.debug footer .close-call {
    background: lightsteelblue;
}

/* #endregion */

/* #region TYPOGRAPHY */
body,
.btn {
    font-family: sans-serif;
    color: #ffffff;
}

.function>i:first-child {
    font-size: 30px;
}

.function .fa-solid.fa-angle-up {
    font-size: 12px;
}

.function div {
    font-size: 13px;
}

.fa-solid.fa-share-from-square {
    color: #4bc800;
}

.close-call {
    color: #cc3142;
}

/* #endregion */

/* #region HEADER */
header {
    height: 52px;
    padding: 4px 4px 20px;
}

header .windows-btn {
    display: flex;
    justify-content: right;
    gap: 8px;
}

.btn.btn-header {
    padding: 4px;
    background: #4a4a4a;
    border: none;
    border-radius: 5px;
}

/* #endregion */

/* #region MAIN */
main {
    height: calc(100vh - 136px);
    margin: 0 auto;
    overflow: hidden;
}

main .container {
    margin: 36px 90px 90px;
    display: flex;
    flex-wrap: wrap;
}

.card-partecipant {
    position: relative;
    margin: 0 6px 16px;
}


main .partecipant {
    background: rgba(103, 112, 123, 0.5);
    padding: 4px;
    position: absolute;
    bottom: 4px;
    left: 0;
}

/* #endregion */

/* #region HEADER */
footer {
    height: 84px;
    background: #222222;
    display: flex;
    justify-content: space-between;
}

.multimedia,
nav,
.close-call {
    padding: 16px 10px;
}

.multimedia,
nav {
    display: flex;
}

.function {
    margin: 0 18px 0 0;
}

footer [class^="fa"] :not(:last-child) {
    margin: 0 24px 10px 0;
}

.fa-solid.fa-microphone,
.fa-solid.fa-chart-column,
.fa-solid.fa-record-vinyl {
    margin-left: 6px;
}

.fa-solid.fa-video {
    margin-left: 18px;
}

.fa-solid.fa-user-group {
    margin-left: 44px;
}

.fa-solid.fa-share-from-square {
    margin-left: 26px;
}

.fa-solid.fa-table-cells-large {
    margin-left: 36px;
}

.close-call {
    height: 84px;
    padding: 0 21px;
    background: #4a4a4a;
    text-align: center;
    line-height: 84px;
}

/* #endregion */