/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region DEBUG */
.debug>* {
    border: 2px dashed lightsteelblue;
}

.debug header {
    background: lightpink;
}

.debug .windows-btn {
    width: 149px;
    height: 26px;
    background: lightyellow;
}

.debug main {
    background: lightblue;
}

.debug footer {
    background: lightcoral;
}

/* #endregion */

/* #region HEADER */
header {
    height: 52px;
    padding: 4px 4px 20px;
    display: flex;
    justify-content: right;
}

/* #endregion */

/* #region HEADER */
main {
    height: calc(100vh - 136px);
}

/* #endregion */

/* #region HEADER */
footer {
    height: 84px;
}

/* #endregion */